body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
footer{
    text-align: center;
    height: 3rem;
    background-color: #68686865;
    margin-top: auto;

}

.listado{
    list-style: none;
    margin: 0 0 3px 0;
}

#prestados{
    background-color: red;
}

img{
    width: 5rem;
}

.filtro{
    display: none;
}

.buscador{
    display: flex;
    justify-content:center;
}